@font-face {
	font-family: Avenir;
	src: url(resources/fonts/avenir.otf);
}

@font-face {
	font-family: Futura;
	src: url(resources/fonts/futura-medium.otf);
}

@font-face {
	font-family: Futura;
	font-weight: bold;
	src: url(resources/fonts/futura-extrabold.otf);
}

* {
	font-family: Futura;
}