@font-face {
	font-family: Avenir;
	src: url(resources/fonts/avenir.otf);
}

@font-face {
	font-family: Futura;
	src: url(resources/fonts/futura-medium.otf);
}

@font-face {
	font-family: Futura Bold;
	src: url(resources/fonts/futura-extrabold.otf);
}

* {
	font-family: Avenir;
}

body {
	width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Futura Bold;
}

#fade {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	background-color: white;
}

@media (max-width: 576px) {
	#header {
		font-size: calc(1.275rem + .3vw);
	}
}

@media (max-width: 310px) {
	a.navbar-brand {
		overflow-x: scroll;
	}
}

.form-control {
	width: auto !important;
}

@media (max-width: 576px){
	.navbar-brand, #statusBar {
		width: 100%;
	}
}

@media (max-width: 576px){
	#userName {
		font-size: calc(1rem + .3vw);
	}
}

@media (max-width: 576px){
	#signOut, #adminDash {
		font-size: calc(0.75rem + .3vw);
		height: calc(2rem + .3vw);
	}
}

.card, .modal-content, .list-group-item {
	background-color: #e9ecef !important;
}

.nav-item a {
	color: #495057 !important;
	font-family: Futura;
}

.nav-link.active {
	background-color: transparent !important;
	border: none !important;
	border-bottom: 3px solid #075088 !important;
}

.nav-link:not(.active):hover {
	border: 1px solid transparent !important;
	opacity: 0.8;
}

.nav-item.show a {
	background-color: rgb(255, 255, 255, 0.6) !important;
	border: 1px solid transparent !important;
	border-radius: 0;
}

.nav-item.show > a.active {
	border: none !important;
	border-bottom: 3px solid #075088 !important;
}

:not(.active) + .dropdown-menu {
	margin-top: 0px !important;
}

.dropdown-menu .dropdown-item:hover {
	background-color: rgb(225, 225, 225) !important;
}

.dropdown-menu .dropdown-item.active {
	background-color: rgb(200, 200, 200) !important;
}

@media (min-width: 576px) {
	.card-deck {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.card-deck .card {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}

@media (min-width: 992px) {
	.card-deck .card:first-child {
		margin-right: 1.5rem !important;
	}
}

.formSeparate {
	margin-right: 1.75rem;
}

#filterTrips {
	align-items: initial;
}

@media (min-width: 1350px) {
	#filterTrips {
		flex-direction: row !important;
	}
	h3.navbar-brand {
		margin-bottom: 0 !important;
	}
	.formSeparate {
		margin-right: 2rem !important;
	}
	#searchTrips {
		max-width: 400px;
	}
}

@media (max-width: 576px) {
	#filterStar {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

/*@media (min-width: 1200px) and (max-width: 1000px) {
	#filterForm:not(.show) {
		display: none !important;
	}
	.navbar-toggler {
		display: initial !important;
	}
}*/

#filterTrips form > * {
	margin-top: 1.5rem;
}

.card-columns .card p {
	margin-bottom: 0 !important;
}

#filterTrips > *, #filterTrips form {
	flex-grow: 1;
}

@media (max-width: 992px) {
	.card-columns {
		column-count: 2 !important;
	}
}

@media (max-width: 768px) {
	.card-columns {
		column-count: 1 !important;
	}
}

.card-columns .card {
	cursor: pointer;
}

.tripCard:hover, .tripCard:focus {
	filter: brightness(95%) !important;
}

.tripCard .card-body {
	overflow: hidden;
}

#filterStar, .toggleStar {
	color: #ffc107 !important;
	cursor: pointer;
	position: relative;
	top: -2px;
}

.starHolder {
	position: absolute;
	top: calc(1em - 2px);
	left: 1em;
}

.tripHidden {
	display: none !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media (min-width: 576px) and (max-width: 800px) {
	#tripModal .modal-dialog {
		max-width: 800px !important;
		margin: 1.75rem !important;
	}
	#tripModal h3 {
		font-size: 1.25rem !important;
	}
}

@media (max-width: 576px) {
	#tripModal h3 {
		font-size: 1.25rem !important;
	}
}

@media (min-width: 800px) {
	#tripModal .modal-dialog {
		max-width: 800px !important;
		margin: 1.75rem auto !important;
	}
}

#tripEditor * {
	font-family: inherit !important;
}

.textarea:not(#tripContent) {
	resize: none !important;
}

.list-group-item-action:hover:not(.disabled) {
	filter: brightness(95%);
}

.modal-body p:last-child {
	margin-bottom: 0 !important;
}